/* Import de la police The Seasons */
@import url('https://fonts.googleapis.com/css2?family=The+Seasons&display=swap');

body {
    
}

/* Style de la page de garde avec "Frida la Sangrienta" */
.cover {
    background-image: url('../images/Fond-frida.jpg'); /* Chemin vers l'image */
    background-size: cover; /* L'image couvre toute la zone */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
    height: 100vh; /* Prend toute la hauteur de la page */
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-title {
    font-family: 'The Seasons', serif; /* Police The Seasons */
    font-size: 8rem; /* Taille très grande pour Frida */
    text-align: center;
    margin: 0;
    line-height: 1.2; /* Espace entre les lignes */
}

.subtitle {
    font-size: 10rem; /* Taille légèrement plus petite pour "la Sangrienta" */
    display: block;
}

/* Section suivante après la page de garde */
.content {
    padding: 40px;
	font-family: 'The Seasons', serif; /* Police The Seasons */
    background-color: #E4D6B3; /* Fond blanc */
    color: #2F2313; /* Texte noir */
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style pour l'image et sa légende */
.image-figure {
    margin: 0;
    padding-right: 20px;
}

.image-left {
    max-width: 300px;
    height: auto;
    border: 1px solid #ccc;
    display: block;
	border: 1.5px solid #2F2313; /* Couleur et épaisseur de la bordure */
    border-radius: 5px; /* Arrondir légèrement les coins, optionnel */
}

figcaption {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
    color: #2F2313;
	
}

/* Style pour le paragraphe à droite de l'image */
.paragraph {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 600px;
	    margin-left: 20px; /* Espace entre le texte et l'image */
    margin-right: 20px; /* Espace entre le texte et le bord */
}