/* Applique la police Montserrat depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #002fa7; /* Bleu outremer */
    color: #f8f8f8; /* Blanc cassé */
}

header {
    background-color: #002fa7; /* Bleu outremer */
    color: #f8f8f8; /* Blanc cassé */
    padding: 20px 0;
    text-align: center;
}

main {
    color: #f8f8f8; /* Blanc cassé */
}

footer {
    color: #f8f8f8; /* Blanc cassé */
    text-align: center;
    margin-top: 20px;
}

